body {
  padding: 0;
  margin: 0;
}

#map, body, html {
  height: 100%;
}

.map-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 0 0.1px white;
  text-align: center;
  white-space: nowrap;
}

.map-label div {
  position: relative;
  left: -50%;
}

tr {
    height: 30px;
    vertical-align: top;
}

td {
    padding: 0 4px 0 4px;
}
